<portfolio-full-screen-wrapper>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8 col-lg-6 col-xl-6">
        <div [@fadeUpIn] class="mat-card">
          <div class="p-5">
            <h1>Hello, I'm Jack</h1>
            <p>Welcome to my personal website! Custom built in Angular, this will be a constant work in progress where you can find samples of my
              work and learn a bit about me.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</portfolio-full-screen-wrapper>