@import 'mixins';

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Fixes overflow bug with display flex
@media only screen and (max-height: 400px) {
  .wrapper {
    display: block;
  }
}

@include mobile {
  .wrapper {
    align-items: flex-start;
  }
}
