@mixin navigation-link-theme($theme) {
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $background: map-get($config, background);
  
  .active {
    color: mat-color($primary);
    background-color: map-get($background, hover);
  }
}