.mat-icon-button,
.mat-button {
  border-radius: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: inherit;
  }
}

.full-width {
  justify-content: left;

  .mat-icon {
    margin-right: 1rem;
  }
}