@mixin app-theme($theme) {
  $config: mat-get-color-config($theme);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);
  
  .mobile-toolbar {
    border-bottom: 1px solid map-get($foreground, divider);
  }

  .mat-sidenav {
    background-color: map-get($background, app-bar);
  }
}