<portfolio-full-screen-wrapper>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8 col-lg-6 col-xl-6">
        <portfolio-text-card>
          <h1>Projects</h1>
          <p>Much of my work is not public facing, however I will highlight some of my past projects here.
          </p>
          <ul>
            <li>
              Served as the sole developer and project manager for a Single Page Application used to search, customize
              and export team SVG
              assets, resulting in a 50% reduction in asset preparation time. I led two-week sprints for design,
              development, and testing using Agile techniques while provided weekly development builds using a CI/CD
              pipeline
              with Gitlab, Jenkins, and SonarQube.
            </li>
            <li>
              As one of three developers that brought a mission critical application to production, I used my subject
              matter expertise to provide training, customer support, and expectation management for my client and
              users. Ongoing support included several refactors, feature enhancement, UI refreshes, and system
              design.
            </li>
          </ul>
        </portfolio-text-card>
      </div>
    </div>
  </div>
</portfolio-full-screen-wrapper>