<portfolio-full-screen-wrapper>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8 col-lg-6 col-xl-6">
        <div [@fadeUpIn] class="mat-card">
          <div class="p-5">
            <h1>About Me</h1>
            <p>In federal contracting you are assigned a labor category, one of which is a Journeyman. I've been a
              Journeyman in more ways than one.</p>
            <p>I graduated from Duke University in 2018 with a B.S. in Mechanical Engineering. I learned MATLAB in one
              of the earliest classes in the cirriculum, and coupled with my Java experience from high school I decided
              to pursue a minor in CS. In the fall of 2018 I joined Booz Allen in Washington, D.C. as a Data Scientist
              working on NLP, optimization, and ML bias. For one of my projects, I built a front end in Flask and
              Python and loved thinking about user interaction and displaying information in effective ways. From that
              point on I've been building Single Page Applications in Angular, working closely with designers and
              clients make their visions a <i>virtual</i> reality.</p>
              <p>So you can see it has been quite a journey, but I feel like I'm just getting started.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</portfolio-full-screen-wrapper>