<div class="container-fluid h-100 page-404-container">
  <div class="row justify-content-center">
    <div class="col-auto text-center mt-5 mb-5">
      <h1>Page Not Found</h1>
      <p>Uh oh, it looks like you may be lost. Don't worry, I've been lost before too.</p>
      <figure class="polaroid mat-elevation-z2">
        <img class="lost-image" width="100%" height="auto" alt="Lost in the snow" src="assets/images/lost.jpg" />
        <figcaption>Lost in the snow, 2019</figcaption>
      </figure>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <a mat-stroked-button class="home-button" routerLink="/home">Go Home</a>
    </div>
  </div>
</div>