@import 'mixins';

.content-list {
  list-style-type: square;

  & > li {
    padding-bottom: 0.5rem;
  }
}

.card-contents {
  padding: 3rem;
}

@include mobile-view {
  .card-contents {
    padding: 2rem;
  }
}

@include mobile-view--xsmall {
  .card-contents {
    padding: 1rem;
  }
}
