.construction {
  position: absolute;
  bottom: 0;
  right: 40px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  border: 2px solid #dea731;
  background-color: #212121;
  z-index: 100;

  font-weight: 900;
  color: #dea731;

  p {
    margin: 0;
  }
}